@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding:0;
    background:black;
    font-family: 'Lato', sans-serif;
}

.signup-heading{
    font-size:2rem;
    text-align:center;
    margin-top:70px;
    color:white;
    text-transform: uppercase;
}

.signup-section{
    margin-top:20px;
    margin-bottom:80px;
    width:44%;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    background: rgb(26, 26, 26);
    border:2px solid rgb(26, 26, 26);
    border-radius:16px;
}


.signup-form{
    margin-top:40px;
    margin-bottom:40px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background:none;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.inp, .select{
    background:white;
    font-size:1rem;
    display:block;
    max-width:100%;
    padding:12px;
    border:2px solid white;
    border-radius:16px;
    color:grey;
}

#opt{
    color:grey;
    background:white;
}

#opt:first-child{
    color:black;
}

.submit-btn{
    width:16%;
    color:white;
    font-size:1rem;
    padding:12px;
    background:black;
    border:2px solid black;
    border-radius:16px;
    cursor:pointer;
    font-weight:bold;

}

.submit-btn:hover{
    color:black;
    background:white;
    border:2px solid white;
}